{%- if site.enable_medium_zoom %}
  <!-- Image zoom -->
  <script defer src="{{ '/assets/js/zoom.js' | relative_url | bust_file_cache }}"></script>
{%- endif -%}

  <!-- Load Common JS -->
  <script defer src="{{ '/assets/js/nav.js' | relative_url | bust_file_cache }}"></script>
  <script src="{{ '/assets/js/no_defer.js' | relative_url | bust_file_cache }}"></script>
  <script defer src="{{ '/assets/js/common.js' | relative_url | bust_file_cache }}"></script>
  <script defer src="{{ '/assets/js/copy_code.js' | relative_url | bust_file_cache }}" type="text/javascript"></script>
