---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}{{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-center{% if page.profile.wide %} profile-wide{% endif %}{% if page.profile.frame == 'circle' %} profile-circle-frame{% endif %}" style="margin-top: 4rem;">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {%- capture profile_image_class -%}img-fluid z-depth-1{% if page.profile.image_circular %} rounded-circle{% else %} rounded{% endif %}{%- endcapture -%}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <span style="font-size: 50px;" class="font-weight-bold name-display profile float-center">{{ site.first_name }}.</span>
          {% if page.subtitle %}
          <p class="about-tagline text-center text-muted" style="margin-top: 0.5rem; font-size: 1.1rem;">{{ page.subtitle }}</p>
          {% endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>
            </div>
          {%- endif %}
        </article>

</div>
